/* header */

@media screen and (max-width: 412px) {
    header {
        padding: 1.5em 2em 1.5em 2em;
    }
}


@media screen and (max-width: 375px) {
    img {
        padding-bottom: 15px;
    }

    header {
        padding: 1.5em 1em 1.5em 1em;
    }
    
}

@media screen and (max-width: 500px) {
    
    img {
        padding-bottom: 10px;
    }

    header {
        display: block;
        padding: 1.5em 3em 1.5em 5em;
    }

    header nav {
        display: flex;
    }

    header nav a {
        padding: 1em;
    }
}

@media screen and (max-width: 600px) {
    img {
        /* padding-bottom: 10px; */
    }

    header {
        display: block;
    }

    header nav {
        display: flex;
    }

    header nav a {
        padding: 1em;
    }
}


/* inicio */

@media screen and (max-width: 412px) {
    #inicio {
        padding: 1.5em 2em 5em 2em;
    }

    h1 {
        font-size: 20px;
        margin: 5px 0 15px 0;
        padding: 10px 0px 5px 0;
    }

    p {
        padding: 5px 0px 10px 0px;
    }

}

@media screen and (max-width: 375px) {
    #inicio {
        gap: 3em;
        padding: 1em 1em 4em 1em;
        position: relative;
        font-size: 13px;
    }

    h1 {
        font-size: 20px;
    }

    .conteudo {
        line-height: 150%;
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 500px) {
    #inicio img {
        width: 100%;
        height: 100%;
    }

    #inicio {
        padding: 1.5em 3em 1.5em 3em;
    }

    .botao {
        background-color: var(--cor2);
        color: #fff;
        text-decoration: none;
        padding: 1em 1em;
        border-radius: 1em 0 1em 0;
    }

    h1 {
        font-size: 20px;
    }
    
    .botao-transparente {
        background-color: transparent;
        color: var(--cor2);
        padding: 1em 1em;
        text-underline-offset: 0.25em; 
    }
}

@media screen and (max-width: 600px) {
    #inicio img {
        width: 100%;
        height: 100%;
    }

    #inicio {
        padding: 1.5em 4em 4em 4em;
    }
}

@media screen and (max-width: 600px) {
    #duvidas {
        padding: 1em 2em;
    }
}

@media screen and (max-width: 1000px) {
    #inicio {
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/*clinica */

@media screen and (max-width: 412px) {
    #clinica {
        padding: 2em 1em;
    }

    h2 {
        font-size: 25px;
        margin-bottom: 1em;
    }

    #farmacia {
        padding: 1em 2em;
    }
}

@media screen and (max-width: 375px) {
    #clinica {
        display: flex;
        align-items: center;
        gap: 3em;
        padding: 1em 2em;
    }

    h2 {
        font-size: 25px;
    }

    ul li {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    h2 {
        font-size: 20px;
    }

    #farmacia {
        padding: 1em 2em;
    }

    #farmacia img {
    margin: 2em auto;
}

    .conteudo {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    #farmacia img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 500px) {
    #clinica img {
        width: 100%;
        height: 100%;
    }

    #clinica {
        padding: 3em 3em;
    }
}

@media screen and (max-width: 500px) {
    #farmacia {
        padding: 3em 3em;
    }

    h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    #farmacia img {
        left: 10px;
        width: 100%;
        height: 100%;
    }

    #farmacia img {
        margin: 2em auto;
    }

    #farmacia {
        padding: 3em 3em;
    }
}

@media screen and (max-width: 600px) {
    #clinica img {
        width: 100%;
        height: 100%;
    }

    #clinica {
        padding: 3em 3em;
    }
}

@media screen and (max-width: 1000px) {
    #clinica {
        display: flex;
        flex-direction: column;
    }

    #farmacia img {
        position: relative;
        right: 3em;
    }
}

/* duvidas */

@media screen and (max-width: 1000px){
    #duvidas {
        display: flex;
        flex-direction: column;
    }

    .duvida {
        position: relative;
    }

    .duvida img {
        position: absolute;
        top: 1.5em;
        right: 1.0em;
        
    }

    .duvida h3 {
        padding: 1em;
        font-size: 15px;
    }
}



@media screen and (max-width: 500px) {

    #duvidas .friends {
        width: 100%;
        height: 100%;
    }

    #duvidas {
        display: flex;
        flex-direction: column;
    }

    .duvida {
        position: relative;
    }

    .duvida img {
        position: absolute;
        top: 1.5em;
        right: 1.0em;
        
    }

    .duvida h3 {
        padding: 1em;
        font-size: 15px;
    }

    #duvidas .arrow {
        display: none;
    }
}


/* Footer */ 

@media screen and (max-width: 750px) {
    footer {
        flex-direction: column;
    }

    footer .titulo {
        flex-direction: row;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        flex-direction: column;
    }

    footer .titulo {
        flex-direction: row;
    }
}